<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.css" integrity="sha512-Q0DfJ+I5cbH4Wm20NlPZ/fENHil7k3ZgzI9b71LfQAB1IlM8Gt7aO7eOPX2QzYT+4fZaF6u1kSfZAHczl4r/9Q==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<div class="container">
  <div class="flow">
    <div class="card">
      <div class="card-flow">
        <div class="icon">
          <i class="fab fa-codepen"></i>
        </div>
        <div class="card-body">
          <h1 class="card-title">Speed</h1>
          <p class="card-text">Speed has never killed anyone.... Suddenly becoming stationary,<br> that's what gets you.</p><br>
          <a href="#" class="btn">Read more</a>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-flow">
        <div class="icon">
          <i class="fab fa-codepen"></i>
        </div>
        <div class="card-body">
          <h1 class="card-title">Power</h1>

          <p class="card-text">Giving money and power to goverment is like giving whiskey<br> and car keys to teenage boys.</p><br>
          <a href="#" class="btn">Read more</a>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-flow">
        <div class="icon">
          <i class="fab fa-codepen"></i>
        </div>
        <div class="card-body">
          <h1 class="card-title">Adrenaline</h1>
          <p class="card-text">The world is big,<br> and i want to have a good look at it before it gets dark.</p><br>
          <a href="#" class="btn">Read more</a>
        </div>
      </div>
    </div>

  </div>
</div>
